body, html {
	width: 100%;
	height: 100%;
	background: grey;
}

.container {
	display: grid;
	grid-template-columns: 75%;
	grid-template-rows: repeat (7, 10%);
	grid-row-gap: 10px;
	align-items: center;
	align-content: center;	
	justify-content: center;
	grid-template-areas: 
		"main-header"
		"input1"
		"input2"
		"input3"
		"input4"
		"result"
		"play-again";
	margin-top: 10%;
	margin-bottom: auto;

}
.main-header {
	grid-area: main-header;
	background: grey;
	padding: 1em;
	box-shadow: 2px 6px 20px silver;
	text-align: center;

}
.input-1 {
	grid-area: input1;
	background: pink;
	padding: 1em;
	text-align: center;
}
.input-2 {
	background: blue;
	padding: 1em;
	text-align: center;
}
.input-3 {
	background: green;
	padding: 1em;
	text-align: center;
}
.input-4 {
	background: red;
	padding: 1em;
	text-align: center;
}
.result {
	background: orange;
	padding: 1em;
	text-align: center;
}
.play-again {
	background: pink;
	padding: 1em;
	text-align: center;
}
