body, html {
	width: 100%;
	height: 100%;
	background: #f4f4f4;
}

.container {
	display: grid;
	grid-template-columns: 75%;
	grid-template-rows: repeat (8, 10%);
	grid-row-gap: 10px;
	align-items: center;
	align-content: center;	
	justify-content: center;
	grid-template-areas: 
		"main-header"
		"input1"
		"input2"
		"input3"
		"input4"
		"btn"
		"story"
		"play-again";		;
	margin-top: 3%;
	margin-bottom: auto;
}
.main-header {
	grid-area: main-header;
	background: #373737;
	padding: 1em;
	box-shadow: 2px 6px 20px silver;
	text-align: center;
	color: white;
	font-size: 15px
}
form {
	box-shadow: 2px 6px 20px silver;
	margin-bottom: 0;
}
.input-1 {
	grid-area: input1;
	background: #dcd0c0;
	padding: 1em;
	text-align: center;
}
.input-2 {
	grid-area: input2;
	background: #c0b283;
	padding: 1em;
	text-align: center;
}
.input-3 {
	grid-area: input3;
	background: #dcd0c0;
	padding: 1em;
	text-align: center;
}
.input-4 {
	grid-area: input4;
	background: #c0b283;
	padding: 1em;
	text-align: center;
}
.btn {
	grid-area: btn;
	background: #dcd0c0;
	padding: 1em;
	text-align: center;
}
#story {
	grid-area: story;
	background: #c0b283;
	padding: 1em;
	text-align: center;
	box-shadow: 2px 6px 20px silver;
}
.play-again {
	grid-area: play-again;
	background: #373737;
	padding: 1em;
	text-align: center;
	box-shadow: 2px 6px 20px silver;
	margin-bottom: 2%;
}
a {
	text-decoration: none;
	color: white;
	padding: 10px;
	border: 2px dashed black;
	border-radius: 10px;
}
a:hover {
    box-shadow: 0 12px 16px 0 rgba(255,255,240,0.3),0 17px 50px 0 rgba(255,255,240,0.19);
}
#submitButton {
	color: black;
	padding: 10px;
	border: 2px dashed black;
	border-radius: 10px;
	background: rgba(0,0,0,0);
}
#submitButton:focus {
	outline: 0;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.3),0 17px 50px 0 rgba(0,0,0,0.19);
}
#submitButton:hover {
	outline: 0;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.3),0 17px 50px 0 rgba(0,0,0,0.19);
}
input {
  background-color: #373737; 
  border: 2px solid white;
  padding: 8px; 
  color: white; 
}
input:focus {
  background-color: white;
  outline: 0; 
  border: 2px dashed #373737; 
  color: black; 
}